@model Category

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"> حذف دسته بندی <strong> @Model.Name</strong></h4>
  <p>ایا از حذف دسته بندی  <strong> @Model.Name</strong> مطمئن هستید؟</p>
  <hr>
  <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-success">خیر</a>
  <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">بله</a>
</div>