@model CategoryDTO
<br />
<br />
<form asp-area="Admin" asp-controller="Category" asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>

    <div><input asp-for="Id" style="display:none" /></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-round">آپدیت</button>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index"class="btn btn-success btn-round">انصراف</a>
</form>