@model List<CategoryDTO>

    @foreach (var category in Model)
{    
    <li>
        <a asp-controller="Service" asp-action="Index" asp-route-id="@category.Id">
            <span class="sub-item">@category.Name</span>
        </a>
    </li>
}