<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" asp-area="" asp-controller="Home" asp-action="Index" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        خدمات منزل و محل کار
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fa fa-home me-1"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="برو به صفحه اول">خانه</p>
                                </a>
                            </li>

                            <li class="nav-item dropdown dropdown-hover mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons opacity-6 me-2 ms-2 text-md">dashboard</i>
                                    خدمات
                                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                                </a>
                                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                                    <div class="d-none d-lg-block">
                                        @await Component.InvokeAsync("Category")
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown dropdown-hover mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons opacity-6 me-2 ms-2 text-md">article</i>
                                    ناحیه کاربری
                                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                                </a>
                                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                                    <div class="d-none d-lg-block">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-area="" asp-controller="Account" asp-action="Profile" class="dropdown-item border-radius-md">
                                                <span>پروفایل من</span>
                                            </a>
                                            <a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item border-radius-md">
                                                <span>خروج از حساب کاربری</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-area="" asp-controller="Account" asp-action="Login" class="dropdown-item border-radius-md">
                                                <span>ورود به حساب کاربری</span>
                                            </a>
                                            <a asp-area="" asp-controller="Account" asp-action="Register" class="dropdown-item border-radius-md">
                                                <span>ثبت نام</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>