<!-- Sidebar Start -->

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a asp-controller="Home" asp-action="Index" asp-route-id="0" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user me-2 p-1"></i>خانه  </h3>
        </a>
        <div class="navbar-nav w-100">
            @await Component.InvokeAsync("Category")
        </div>
    </nav>
</div>


<!-- Sidebar End -->
