@model List<ServiceDTO>
@if (Model != null)
{
    @foreach (var service in Model)
    {
        <div class="d-inline-block col-3 m-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">سرویس @service.Title</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@service.ShortDescription</p>
                    <a asp-controller="Home" asp-action="NewOrder" asp-route-id="@service.Id" class="btn btn-primary">ثبت سفارش</a>
                </div>
                <div class="card-footer text-muted">
                    @service.Price تومان
                </div>
            </div>
        </div>
    }
}

