@model OrderDTO



<section class="login-wrapper">
    <div class="container ">
        <div class="col-6" style="width:50%;margin-left:auto;margin-right:auto">
            <div class="card">
                <div class="card-body">
                    <form>
                        <input asp-for="ServiceId" value="@ViewBag.ServiceId" style="display:none" />
                        <img class="img-responsive" alt="logo" src="img/logo.png">
                        <input type="text" class="form-control input-lg" placeholder="User Name">
                        <input type="password" class="form-control input-lg" placeholder="Password">
                        <label><a href="">Forget Password?</a></label>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p>Have't Any Account <a href="">Create An Account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




