@model List<ServiceDTO>

<section class="pricind">
    <div class="container">
        @foreach (var service in Model)
        {
            <div class="col-md-4 col-sm-4">
                <div class="package-box">
                    <div class="package-header">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <h3>@service.Title</h3>
                    </div>
                    <div class="package-info">
                        <ul>
                            <li>3 Designs</li>
                            <li>3 PSD Designs</li>
                            <li>4 color Option</li>
                            <li>10GB Disk Space</li>
                            <li>Full Support</li>
                        </ul>
                    </div>
                    <div class="package-price">
                        <h2><sub class="text-success">هزینه</sub><sup class="text-danger">T </sup>@service.Price</h2>
                    </div>
                    <a class="btn btn-warning btn-rounded" asp-area="" asp-controller="Home" asp-action="NewOrder" asp-route-id="@service.Id" >ثبت سفارش</a>
                </div>
            </div>
        }


    </div>
</section>





@*<div class="col-md-4 col-sm-4">
    <div class="package-box">
    <div class="package-header">
    <i class="fa fa-star-half-o" aria-hidden="true"></i>
    <h3>Standard</h3>
    </div>
    <div class="package-info">
    <ul>
    <li>3 Designs</li>
    <li>3 PSD Designs</li>
    <li>4 color Option</li>
    <li>10GB Disk Space</li>
    <li>Full Support</li>
    </ul>
    </div>
    <div class="package-price">
    <h2><sup>$ </sup>110<sub>/Month</sub></h2>
    </div>
    <button type="submit" class="btn btn-package">Sign Up</button>
    </div>
    </div>
    <div class="col-md-4 col-sm-4">
    <div class="package-box">
    <div class="package-header">
    <i class="fa fa-cube" aria-hidden="true"></i>
    <h3>Premium</h3>
    </div>
    <div class="package-info">
    <ul>
    <li>3 Designs</li>
    <li>3 PSD Designs</li>
    <li>4 color Option</li>
    <li>10GB Disk Space</li>
    <li>Full Support</li>
    </ul>
    </div>
    <div class="package-price">
    <h2><sup>$ </sup>170<sub>/Month</sub></h2>
    </div>
    <button type="submit" class="btn btn-package">Sign Up</button>
    </div>
    </div>*@






































@*<section class="features">

    <div class="container">
    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
    <h3>Create An Account</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
    <h3>Search Desired Job</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-printer"></span></span>
    <h3>Send Your Resume</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
    <h3>Create An Account</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
    <h3>Search Desired Job</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="features-content">
    <span class="box1"><span aria-hidden="true" class="icon-printer"></span></span>
    <h3>Send Your Resume</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    </div>
    </section>*@