<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"> حذف وضعیت <strong> @Model.Name</strong></h4>
    <p>ایا از حذف وضعیت  <strong> @Model.Name</strong> مطمئن هستید؟</p>
    <hr>
    <a asp-area="Admin" asp-controller="Categoey" asp-action="Index" class="btn btn-success">خیر</a>
    <button type="submit" class="btn btn-danger">بله</button>
</div>