<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item ml-3 mr-3">
                    <a class="nav-link btn btn-success rounded" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        خانه
                    </a>
                </li>
                <li class="nav-item ml-3 mr-3">
                    <a class="nav-link btn btn-warning rounded" href="#">
                        راهنما
                    </a>
                </li>
                <li class="nav-item ml-3 mr-3">
                    <a class="nav-link btn btn-success rounded" href="#">
                        تماس با ما
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            ساخته شده با <i class="fa fa-heart heart text-danger"></i> توسط یوسف
        </div>
    </div>
</footer>