<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-right ml-2">
                    <img src="~/AdminAreaTemplate/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            یوسف
                            <span class="user-level">مدیریت</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Profile">
                                    <span class="link-collapse">پروفایل من</span>
                                </a>
                            </li>
                           
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">
                                    <span class="link-collapse">خروج از حساب کاربری</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary" style="padding-right:0px">
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <p>کاربران</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" asp-route-id="1">
                                    <span class="sub-item">مشتری ها</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" asp-route-id="2">
                                    <span class="sub-item">متخصصین</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>سفارشات</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-id="1">
                                    <span class="sub-item"> تایید نشده</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-id="2">
                                    <span class="sub-item"> در حال انجام</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-id="3">
                                    <span class="sub-item"> پایان یافته</span>
                                </a>
                            </li>                            
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#charts">
                        <i class="far fa-chart-bar"></i>
                        <p>سرویس ها</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            @await Component.InvokeAsync("AdminCategory")                         
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                        <i class="fas fa-desktop"></i>
                        <p>دسته بندی ها</p>
                        @await Component.InvokeAsync("NumberOfCategories")                        
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Status" asp-action="Index">
                        <i class="fa fa-heartbeat"></i>
                        <p>وضعیت ها</p>
                        @await Component.InvokeAsync("NumberOfStatuses")  
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
