@model UserDTO

<form asp-area="Admin" asp-controller="UserManagement" asp-action="Delete" method="post">
    <div class="alert alert-danger" role="alert">
        <div><input asp-for="Id" style="display:none" /></div>
        <h4 class="alert-heading">  حذف کاربر <strong> @Model.Id</strong></h4>
        <p>ایا از حذف کاربر   <strong> @Model.UserName</strong> مطمئن هستید؟</p>
        <hr>
        <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" class="btn btn-success">خیر</a>
        <button type="submit" class="btn btn-danger">بله</button>
    </div>
</form>
